* {
    font-family: Arial, sans-serif;
}

/*header*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-actions{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 30px;
}

.logo img{
    width: 35px;
    height: 24;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 16px;   
}

.btn{
    background-color: #43A046;
    color: white;
    border: none;
    font-size: 12px;
    padding: 12px 24px;
    border-radius: 6px;
}

/*hero section*/

.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-color: #F5F7FA;
}

.hero-main{
    color: black;
    font-size: 40px;
}
.hero-span{
    display: block;
    color: #43A046;
    font-size: 40px;
}

.hero-img img{
    width: 300px;
    height: auto;
}
