* {
    font-family: Arial, sans-serif;
}

/*header*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-actions{
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 30px;
}

.logo img{
    width: 35px;
    height: 24;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 16px;   
}

.btn{
    background-color: #43A046;
    color: white;
    border: none;
    font-size: 12px;
    padding: 12px 24px;
    border-radius: 6px;
}

/*hero section*/

.hero-section{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-color: #F5F7FA;
}

.hero-main{
    color: black;
    font-size: 40px;
}
.hero-span{
    display: block;
    color: #43A046;
    font-size: 40px;
}

.hero-img img{
    width: 300px;
    height: auto;
}

/*Clients*/
.our-clients{
    display: flex;
    flex-direction: column;
}

.client-head{
    display: flex;
    justify-content: center;
}

.client-para{
    display: flex;
    justify-content: center;
}

.client-head h1{
    padding-top: 20px;
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #2b2b3a;
}

.client-para p{
    margin: 0;
    font-size: 12px;
    color: #555;
}

.client-logo{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.client-logo img{
    width: 30px;
    height: 30px;
}

/*manage*/
.manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-size: 15px;
}

.manage span{
    display: block;
}
.manage p{
    margin: 0;
    font-size: 12px;
    color: #555;
}

/*icons*/
.cards{
    display: flex;
    justify-content: space-evenly;
    border: #2b2b3a;
    padding-top: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 100px 10px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.card span{
    display: block;
}

.cards img{
    width: 45px;
    height: 45px;
}

.cards h1{
    font-size: 30px;
}

.cards p{
    font-size: 15px;
    color: #555;
}